@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 99.6%; /* #FFFAFA */
    --foreground: 14 16% 25%; /* #4A3835 */
    --card: 0 100% 98%; /* #FFF6F6 */
    --card-foreground: 14 16% 25%;
    --popover: 0 100% 98%;
    --popover-foreground: 14 16% 25%;
    --primary: 14 16% 25%; /* #4A3835 */
    --primary-foreground: 0 100% 98%; /* #FFF6F6 */
    --secondary: 21 29% 58%; /* #b68873 */
    --secondary-foreground: 14 16% 25%;
    --muted: 0 100% 98%;
    --muted-foreground: 21 29% 48%;
    --accent: 0 100% 97%;
    --accent-foreground: 14 16% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 100% 95%;
    --input: 0 100% 95%;
    --ring: 14 16% 25%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 14 16% 15%;
    --foreground: 0 100% 98%;
    --card: 14 16% 20%;
    --card-foreground: 0 100% 98%;
    --popover: 14 16% 15%;
    --popover-foreground: 0 100% 98%;
    --primary: 0 100% 98%;
    --primary-foreground: 14 16% 15%;
    --secondary: 21 29% 48%;
    --secondary-foreground: 0 100% 98%;
    --muted: 14 16% 25%;
    --muted-foreground: 0 100% 90%;
    --accent: 14 16% 25%;
    --accent-foreground: 0 100% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 14 16% 25%;
    --input: 14 16% 25%;
    --ring: 0 100% 98%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
